{% if messages %}
  <div class="mb-2">
    {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
        <strong>
          {% if message.tags == 'error' %}
            Error!
          {% elif message.tags == 'success' %}
            Success!
          {% elif message.tags == 'warning' %}
            Warning!
          {% else %}
            Note:
          {% endif %}
        </strong>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
      document.querySelectorAll('.alert').forEach(alert => {
        alert.classList.remove('show');
        alert.addEventListener('transitionend', function() {
          alert.remove();
        });
      });
    }, 5000);
  });
</script>
