{% extends 'temp/base.html' %} {% load static %} {% block styles %}
<!-- gap -->
{% endblock styles %} {% block content %}

<form id="commandForm" method="POST">
    <div class="d-flex gap-6 flex-column mt-6">
        {% csrf_token %}
        <!-- Top Row: Datacenter & Device -->
        <div class="card border-0 shadow-sm">
            <div class="card-body p-6">
                <div class="row g-6">
                    <div class="col-md-6">
                        <label for="datacenter-select" class="form-label"
                            >Datacenter</label
                        >
                        <!-- Multiple select using Select2 -->
                        <select
                            class="form-select d-none"
                            id="datacenter-select"
                            name="datacenters"
                        >
                            <option value="">Select Datacenter</option>
                            {% for item in unique_cities %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="device-select" class="form-label"
                            >Device</label
                        >
                        <!-- Multiple select using Select2 -->
                        <select
                            class="form-select d-none"
                            id="device-select"
                            name="devices"
                            disabled
                        >
                            <option value="">Select Device</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2nd Row -->
        
        <div class="card border-0 shadow-sm"></div>
    </div>
</form>

<!-- end::Content Block -->
{% endblock content %} {% block scripts %}
<!-- gap -->
{% include 'temp/alerts_scripts.html' %} {% endblock scripts %}
