{% extends 'temp/base.html' %} {% load static %} {% block styles %} {% endblock %} {% block content %}

<!-- Form (we'll handle submission via JavaScript) -->
<form id="commandForm" method="POST">
        <div class="d-flex gap-6 flex-column mt-6">
		{% csrf_token %}
		<!-- Top Row: Datacenter & Device -->
		<div class="card border-0 shadow-sm">
            <div class="card-body p-6">
                <div class="row g-6">
                    <div class="col-md-6">
                        <label for="datacenters-select" class="form-label">Datacenter(s)</label>
                        <!-- Multiple select using Select2 -->
                        <select
                            class="form-select d-none"
                            id="datacenters-select"
                            name="datacenters"
                            multiple
                        >
                            {% for item in unique_cities %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="devices-select" class="form-label">Device(s)</label>
                        <!-- Multiple select using Select2 -->
                        <select
                            class="form-select d-none"
                            id="devices-select"
                            name="devices"
                            multiple
                            disabled
                        >
                        </select>
                    </div>
                </div>
            </div>
		</div>

        <!-- 2nd Row: Command Execution -->
        <div class="card border-0 shadow-sm">
            <div class="card-header justify-content-between align-items-center p-6">
                    <h4 class="card-title mb-0">
                        <img
								class="h-lg-20px theme-light-show"
								src="{% static 'assets/media/svg/custom/command-execution.svg' %}"
								alt="Icon"
							/>
                            <img
								class="h-lg-20px theme-dark-show"
								src="{% static 'assets/media/svg/custom/command-execution-dark.svg' %}"
								alt="Icon"
							/>
                        <span class="ms-3 text-gray-900">Command Exeution</span></h4>
                    <a class="d-flex mt-2 cursor-pointer" data-bs-toggle="modal" data-bs-target="#historyModal">
                        <img
								class="h-lg-16px align-self-center m-0 theme-light-show"
								src="{% static 'assets/media/svg/custom/command-history-grey.svg' %}"
								alt="Icon"
							/>
                            <img
								class="h-lg-16px align-self-center m-0 theme-dark-show"
								src="{% static 'assets/media/svg/custom/command-history-grey.svg' %}"
								alt="Icon"
							/>
                        <span class="ms-1 fs-5  text-gray-800">Command History</span>
                    </a>
            </div>
            <div class="card-body p-6">
                <!-- Command Category -->
                <div class="mt-2">
                    <h6 class="mb-3 text-gray-800">Select Command Category</h6>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <!-- category cards -->
                        {% for category in categories %}
                        <div class="col">
                            <div
                                class="card h-100 command-category shadow-none cursor-pointer"
                                data-category="{{ category.name }}"
                                data-category-id="{{ category.id }}"
                                
                            >
                                <div class="card-body p-4">
                                    <div class="d-flex gap-4 align-items-center">
                                    <img
                                        class="h-20px"
                                        src="{% static 'assets/media/svg/custom/network-grey.svg' %}"
                                        alt="Icon"
                                    />
                                    <div>
                                        <h5 class="text-gray-900">{{ category.name }}</h6>
                                        <p class="text-muted mb-0">
                                            {{ category.name }} commands
                                        </p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Command Type (appears after selecting a category) -->
                <div class="mt-6" id="commandTypeSection" style="display: none">
                    <h6 class="mb-3 text-gray-800">Select Command Type</h6>
                    <div
                        class="row row-cols-1 row-cols-md-3 g-4"
                        id="commandTypeContainer"
                    >
                        <!-- Command type cards inserted by JavaScript -->
                    </div>
                </div>

                <div class="mt-6 pe-2 col-4" id="interface-selection" style="display: none">
                    <h6 class="mb-3 text-gray-800">Enter Target</h6>
                    <input
                        class="form-control"
                        name="interface-sel"
                        id="interface-sel"
                        type="text"
                        placeholder="Enter target"
                    >
                </div>

                <!-- Execute Button -->
                <div class="d-flex justify-content-end mt-4">
                    <button
                        type="button"
                        class="btn btn-primary text-center"
                        id="executeCommandBtn"
                        type="submit"
                    >
                        <img
								class="h-lg-20px"
								src="{% static 'assets/media/svg/custom/execute-command.svg' %}"
								alt="Icon"
							/>
                        Execute Command
                    </button>
                </div>

                <div class="mt-2">
                    <h6 class="mb-3 text-gray-800">Command Output</h6>
                </div>

                <!-- Devices Output Container -->
                <div class="card p-3 h-100 bg-light mode-container">
                    <div id="devices-tabs" class="h-100">
                        <div
                            class="d-flex flex-column justify-content-center align-items-center h-100"
                        >
                            <p class="text-center m-0">Select Device(s) to show tabs</p>
                        </div>
                    </div>
                    <div
                        id="download-device"
                        class="mt-3 d-flex w-100 justify-content-end d-none"
                    >
                        <button class="btn btn-sm btn-success">Download</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>

{% block modal %}
<!--begin::Modal - History-->
{% include 'temp/history_modal.html' %}
<!--end::Modal - History-->
{% endblock modal %}
<!-- end::Content Block -->
{% endblock content %} 
{% block scripts %}
{% include 'temp/devices_scripts.html' %}
{% endblock scripts %}
