<div
	class="modal fade"
	id="historyModal"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="areaModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-gray-900" id="historyModalLabel">
					Command History
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body p-0 mx-0">
				<div class="d-flex gap-6 flex-column my-6">
					<div class="history-container rounded w-100 p-5">
						<div
							class="d-flex justify-content-between align-items-center mb-4"
						>
							<div class="d-flex gap-4 align-items-center">
								<h6 class="text-gray-900 mb-1">
									Show Interfaces
								</h6>
								<span class="text-gray-800"
									>2021-09-01 12:00:00 AM</span
								>
							</div>
							<!-- Success pill green background -->
							<span class="badge badge-light-success"
								>success</span
							>
						</div>
						<div class="rounded p-5 console-view">
							PING 8.8.8.8 (8.8.8.8): 56 data bytes 64 bytes from
							8.8.8.8: icmp_seq=0 ttl=64 time=0.081 ms 64 bytes
							from 8.8.8.8: icmp_seq=1 ttl=64 time=0.129 ms 64
							bytes from 8.8.8.8: icmp_seq=2 ttl=64 time=0.116 ms
							64 bytes from 8.8.8.8: icmp_seq=3 ttl=64 time=0.127
							ms 64 bytes from 8.8.8.8: icmp_seq=4 ttl=64
							time=0.069 ms --- 8.8.8.8 ping statistics --- 5
							packets transmitted, 5 packets received, 0.0% packet
							loss round-trip min/avg/max/stddev =
							0.069/0.104/0.129/0.024 ms
						</div>
					</div>

					<div class="history-container rounded w-100 p-5">
						<div
							class="d-flex justify-content-between align-items-center mb-4"
						>
							<div class="d-flex gap-4 align-items-center">
								<h6 class="text-gray-900 mb-1">
									Show Interfaces
								</h6>
								<span class="text-gray-800"
									>2021-09-01 12:00:00 AM</span
								>
							</div>
							<!-- Success pill green background -->
							<span class="badge badge-light-success"
								>success</span
							>
						</div>
						<div class="rounded p-5 console-view">
							PING 8.8.8.8 (8.8.8.8): 56 data bytes 64 bytes from
							8.8.8.8: icmp_seq=0 ttl=64 time=0.081 ms 64 bytes
							from 8.8.8.8: icmp_seq=1 ttl=64 time=0.129 ms 64
							bytes from 8.8.8.8: icmp_seq=2 ttl=64 time=0.116 ms
							64 bytes from 8.8.8.8: icmp_seq=3 ttl=64 time=0.127
							ms 64 bytes from 8.8.8.8: icmp_seq=4 ttl=64
							time=0.069 ms --- 8.8.8.8 ping statistics --- 5
							packets transmitted, 5 packets received, 0.0% packet
							loss round-trip min/avg/max/stddev =
							0.069/0.104/0.129/0.024 ms
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
