<div
	class="modal fade"
	id="historyModal"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="areaModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-gray-900" id="historyModalLabel">
					Command History
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body p-0 mx-0">
				<div class="d-flex gap-6 flex-column my-6" id="historyContainer">
					
				</div>
			</div>
		</div>
	</div>
</div>

