{% extends 'temp/base.html' %} {% load static %} {% block styles %}
<!-- gap -->
{% endblock %} {% block content %}
<div class="my-6">
    <div class="card mb-5 mb-xl-10">
        <div
            class="card-header border-0 cursor-pointer"
            role="button"
            data-bs-toggle="collapse"
            data-bs-target="#kt_account_profile_details"
            aria-expanded="true"
            aria-controls="kt_account_profile_details"
        >
            <div class="card-title m-0">
                <h3 class="fw-bold m-0">Profile Details</h3>
            </div>
        </div>
        <div id="kt_account_settings_profile_details" class="collapse show">
            <form method="POST" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <div class="card-body border-top p-9">
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-semibold fs-6"
                            >Avatar</label
                        >
                        <div class="col-lg-8">
                            <div
                                class="image-input image-input-outline shadow-none {% if not request.user.profile.profile_image %}image-input-empty{% endif %}"
                                data-kt-image-input="true"
                                style="background-image: url('{% static "assets/media/svg/avatars/blank.svg" %}');"
                            >
                                <div
                                    class="image-input-wrapper w-125px h-125px"
                                    style="{% if request.user.profile.profile_image %}background-image: url('{{ request.user.profile.profile_image.url }}');{% endif %}"
                                ></div>
                                <label
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="change"
                                    data-bs-toggle="tooltip"
                                    title="Change avatar"
                                >
                                    <i class="ki-duotone ki-pencil fs-7">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <input
                                        type="file"
                                        name="profile_image"
                                        accept=".png, .jpg, .jpeg"
                                    />
                                    <input type="hidden" name="avatar_remove" />
                                </label>
                                <span
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="cancel"
                                    data-bs-toggle="tooltip"
                                    title="Cancel avatar"
                                >
                                    <i class="ki-duotone ki-cross fs-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </span>
                                <span
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="remove"
                                    data-bs-toggle="tooltip"
                                    title="Remove avatar"
                                >
                                    <i class="ki-duotone ki-cross fs-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </span>
                            </div>
                            <div class="form-text">
                                Allowed file types: png, jpg, jpeg.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label
                            class="col-lg-4 col-form-label required fw-semibold fs-6"
                            >Full Name</label
                        >
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6 fv-row">
                                    {{ form.first_name }}
                                </div>
                                <div class="col-lg-6 fv-row">
                                    {{ form.last_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label
                            class="col-lg-4 col-form-label required fw-semibold fs-6"
                            >Username</label
                        >
                        <div class="col-lg-8 fv-row">{{ form.username }}</div>
                    </div>
                    <div class="row mb-6">
                        <label
                            class="col-lg-4 col-form-label required fw-semibold fs-6"
                            >Email</label
                        >
                        <div class="col-lg-8 fv-row">{{ form.email }}</div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-semibold fs-6">
                            <span class="required">Contact Phone</span>
                            <span
                                class="ms-1"
                                data-bs-toggle="tooltip"
                                title="Phone number must be active"
                            >
                                <i
                                    class="ki-duotone ki-information-5 text-gray-500 fs-6"
                                >
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>
                            </span>
                        </label>
                        <div class="col-lg-8 fv-row">
                            {{ form.phone }}
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-semibold fs-6"
                            >Location</label
                        >
                        <div class="col-lg-8 fv-row">
                            {{ form.location }}
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-semibold fs-6"
                            >Bio</label
                        >
                        <div class="col-lg-8 fv-row">
                             {{ form.bio }}
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        id="kt_account_profile_details_submit"
                    >
                        Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
