<script>
	$(document).ready(function () {
		// Initialize DataTables on our table with optional settings.
		$("#logsTable").DataTable({
			pageLength: 10, // Display 10 rows per page
			order: [[0, "desc"]], // Sort by the first column (timestamp) descending
			buttons: [
				{
					extend: "collection",
					text: '<span class="text-gray-800"><i class="fa fa-download"></i> Download Logs</span>',
					titleAttr: "Export Options",
					buttons: [
						{
							extend: "csvHtml5",
							text: "Download as CSV",
							titleAttr: "Export as CSV",
						},
						{
							extend: "excelHtml5",
							text: "Download as Excel",
							titleAttr: "Export as Excel",
						},
					],
				},
			],
			// DataTables automatically adds search and pagination functionality.
			initComplete: function () {
				$("#logsTable").css("visibility", "visible");
				// Find the dt-toolbar that contains the search input and append the reload icon with margin
				$(".dt-toolbar")
					.filter(function () {
						return $(this).find('input[type="search"]').length > 0;
					})
					.append(
						'<div id="reloadIcon" style="margin-left:1rem; cursor:pointer;"><i class="fa fa-sync fa-lg text-gray-500"></i></div>'
					);
				$("#reloadIcon").on("click", function () {
					location.reload();
				});
			},
			dom:
				"<'row mb-2'" +
				"<'col-sm-3 d-flex align-items-center justify-content-start dt-toolbar'l>" +
				"<'col-sm-5 mt-2 d-flex align-items-center justify-content-end dt-toolbar'B>" +
				"<'col-sm-4 d-flex align-items-center justify-content-end dt-toolbar'f>" +
				"<'col-sm-1 dt-toolbar'<'#reloadContainer'>>" +
				">" +
				"<'table-responsive'tr>" +
				"<'row'" +
				"<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
				"<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
				">",
		});
	});
</script>
