{% extends "base.html" %} {% block content %}
<div class="container my-5">
    <h3 class="mb-3">FastCLI</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100 p-3 bg-light">
                <div class="mb-3">
                    <label for="cities-select" class="form-label"
                        >Select your Datacenter(s)</label
                    >
                    <select id="cities-select" class="form-select" multiple>
                        {% for item in unique_cities %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="device-select" class="form-label"
                        >Select your Device(s)</label
                    >
                    <select
                        id="device-select"
                        class="form-select"
                        multiple
                    ></select>
                </div>
                <div id="execute-command">
                    <div class="mb-3">
                        <label for="command-select" class="form-label"
                            >Command Selection</label
                        >
                        <select id="command-select" class="form-select">
                            <option value=""></option>
                            <option value="ping">Ping</option>
                            <option value="traceroute">Traceroute</option>
                            <option value="bgp-lookup">BGP Lookup</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="interface-sel" class="form-label"
                            >Interface Selection</label
                        >
                        <input
                            id="interface-sel"
                            class="form-control"
                            placeholder="Enter Target"
                        />
                    </div>
                </div>

                <!-- Checkbox to toggle custom input -->
                <div class="mb-3">
                    <input
                        type="checkbox"
                        id="custom-input-toggle"
                        class="form-check-input"
                    />
                    <label for="custom-input-toggle" class="form-check-label">
                        Enter Custom Command
                    </label>
                </div>

                <!-- Custom Input -->
                <div class="mb-3" id="custom-input-group" style="display: none">
                    <label for="custom-input" class="form-label"
                        >Custom Command</label
                    >
                    <input
                        id="custom-input"
                        class="form-control"
                        placeholder="Enter Custom Command"
                    />
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-sm btn-primary" id="run-btn">
                        Run
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card p-3 h-100 bg-light">
                <div id="devices-tabs" class="h-100">
                    <div
                        class="d-flex flex-column justify-content-center align-items-center h-100"
                    >
                        <p class="text-center">Select Devices to show tabs</p>
                    </div>
                </div>
                <div
                    id="download-device"
                    class="mt-3 d-flex w-100 justify-content-end d-none"
                >
                    <button class="btn btn-sm btn-success">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#cities-select").select2({
            placeholder: "Select datacenters",
            allowClear: true,
            width: "100%",
        });
        $("#device-select").select2({
            placeholder: "Select devices",
            allowClear: true,
            width: "100%",
        });
        $("#command-select").select2({
            placeholder: "Select Command",
            minimumResultsForSearch: -1,
            width: "100%",
        });

        function createDevicesTabsContainer() {
            const devicesTabsContainer = $("#devices-tabs");
            devicesTabsContainer.empty();
            const tabNav = $(
                '<ul class="nav nav-tabs" id="myTab" role="tablist"></ul>'
            );
            const tabContent = $(
                '<div class="tab-content h-100" id="myTabContent"></div>'
            );
            devicesTabsContainer.append(tabNav);
            devicesTabsContainer.append(tabContent);
        }

        function createTabs(devices) {
            if (devices.length === 0) {
                $("#devices-tabs").empty();
                $("#devices-tabs").append(`
                <div class="d-flex flex-column justify-content-center align-items-center h-100">
                    <p class="text-center">Select Devices to show tabs</p>
                </div>
                `);
                return;
            }
            createDevicesTabsContainer();
            const tabContainer = $("#myTab");
            const tabContent = $("#myTabContent");
            devices.forEach((device, index) => {
                const tabId = `device-tab-${index}`;
                const tabPaneId = `device-tab-content-${index}`;

                tabContainer.append(`
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link ${index === 0 ? "active" : ""}"
                            id="${tabId}"
                            data-bs-toggle="tab"
                            data-bs-target="#${tabPaneId}"
                            type="button"
                            role="tab"
                            aria-controls="${tabPaneId}"
                            aria-selected="${index === 0}"
                        >
                            ${device.name}
                        </button>
                    </li>
                `);

                tabContent.append(`
                    <div
                        class="tab-pane fade h-100 ${
                            index === 0 ? "show active" : ""
                        }"
                        id="${tabPaneId}"
                        role="tabpanel"
                        aria-labelledby="${tabId}"
                    >
                        <div id="device-response-${
                            device.id
                        }" class="card my-3 terminal">
                            <div>Click run button to show response</div>
                        </div>
                    </div>
                `);
            });
        }

        $("#cities-select").on("change", function () {
            const selectedCities = $(this).val();
            const deviceSelect = $("#device-select");

            if (!selectedCities || selectedCities.length === 0) {
                deviceSelect.empty();
                createTabs([]);
                return;
            }

            $.ajax({
                url: "/get-devices/",
                method: "GET",
                data: { cities: selectedCities },
                success: function (data) {
                    deviceSelect.empty();
                    if (data.devices.length > 0) {
                        data.devices.forEach((device) => {
                            deviceSelect.append(
                                `<option value="${device.id}">${device.name} (${device.ip})</option>`
                            );
                        });
                    } else {
                        deviceSelect.append(
                            `<option value="">No devices available</option>`
                        );
                    }
                },
                error: function () {
                    alert("Failed to fetch devices.");
                },
            });
        });

        $("#device-select").on("change", function () {
            const selectedDevices = $("#device-select")
                .find(":selected")
                .map(function () {
                    return {
                        name: $(this).text(),
                        id: $(this).val(),
                        ip: $(this).data("ip"),
                    };
                })
                .get();
            createTabs(selectedDevices);
        });

        $("#custom-input-toggle").on("change", function () {
            if ($(this).is(":checked")) {
                $("#custom-input-group").show();
                $("#execute-command").hide();
            } else {
                $("#command-select, #interface-sel").prop("disabled", false);
                $("#custom-input-group").hide();
                $("#execute-command").show();
            }
        });

        $("#run-btn").on("click", function () {
            const selectedDevices = $("#device-select")
                .find(":selected")
                .map(function () {
                    return {
                        name: $(this).text(),
                        id: $(this).val(),
                        ip: $(this).data("ip"),
                    };
                })
                .get();
            const command = $("#custom-input-toggle").is(":checked")
                ? $("#custom-input").val()
                : $("#command-select").val();
            const target = $("#interface-sel").val();

            if (!command || !selectedDevices.length) {
                alert("Please select devices and a command before running.");
                return;
            }

            selectedDevices.forEach((device) => {
                const tabResponse = $(`#device-response-${device.id}`);
                tabResponse.html('<div class="text-center">Running...</div>');

                $.ajax({
                    url: "/run-command/",
                    method: "POST",
                    data: {
                        device_id: device.id,
                        command: command,
                        target: target,
                    },
                    success: function (response) {
                        tabResponse.html(`<pre>${response.data}</pre>`);
                    },
                    error: function () {
                        tabResponse.html(
                            '<div class="text-danger">Failed to execute command.</div>'
                        );
                    },
                });
            });
        });
    });
</script>

{% endblock %}
