<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TX FIBER</title>
        <link rel="icon" type="image/png" href="static/logo.png" />
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <style>
            #terminal {
                background-color: #1e1e1e;
                color: #d4d4d4;
                font-family: "Courier New", Courier, monospace;
                padding: 10px;
                border-radius: 5px;
                height: 515px;
                overflow-y: auto;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

            #probes-table tr.selected {
                background-color: #d9edf7; /* Light blue */
            }

            .cursor-pointer {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <span class="navbar-brand mb-0 h1">
                    <img
                        src="static/logo.png"
                        alt="TX FIBER"
                        width="150"
                        class="d-inline-block align-text-top"
                    />
                </span>
            </div>
        </nav>
        <div class="container my-4">
            <div class="row">
                <div class="col-md-6">
                    <!-- Input Section -->
                    <div class="card p-3 mb-4" style="height: 640px;">
                        <div
                            class="d-flex justify-content-between align-items-center mb-3"
                        >
                            <div>
                                <input
                                    type="radio"
                                    class="btn-check"
                                    name="options-outlined"
                                    value="ping"
                                    id="ping-btn"
                                    autocomplete="off"
                                    checked
                                />
                                <label
                                    class="btn btn-outline-info"
                                    for="ping-btn"
                                    >Ping</label
                                >
                            </div>
                            <div>
                                <input
                                    type="radio"
                                    class="btn-check"
                                    name="options-outlined"
                                    id="traceroute-btn"
                                    value="traceroute"
                                    autocomplete="off"
                                />
                                <label
                                    class="btn btn-outline-info"
                                    for="traceroute-btn"
                                    >Traceroute</label
                                >
                            </div>
                            <div>
                                <input
                                    type="radio"
                                    class="btn-check"
                                    name="options-outlined"
                                    value="bgp-lookup"
                                    id="bgp-lookup"
                                    autocomplete="off"
                                />
                                <label
                                    class="btn btn-outline-info"
                                    for="bgp-lookup"
                                    >BGP Lookup</label
                                >
                            </div>
                            <div>
                                <input
                                    type="radio"
                                    class="btn-check"
                                    name="options-outlined"
                                    value="custom"
                                    id="custom-btn"
                                    autocomplete="off"
                                />
                                <label
                                    class="btn btn-outline-info"
                                    for="custom-btn"
                                    >Custom</label
                                >
                            </div>
                        </div>
                        <form class="row">
                            <div class="col-md-9">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="targetInput"
                                    placeholder="Select Target"
                                />
                            </div>
                            <div
                                class="col-md-3 d-flex align-items-center justify-content-end"
                            >
                                <div class="form-check form-check-inline me-2">
                                    <input
                                        class="form-check-input version-filter"
                                        type="radio"
                                        name="version"
                                        id="v4"
                                        value="v4"
                                        checked
                                    />
                                    <label class="form-check-label" for="v4"
                                        >v4</label
                                    >
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                        class="form-check-input version-filter"
                                        type="radio"
                                        name="version"
                                        id="v6"
                                        value="v6"
                                    />
                                    <label class="form-check-label" for="v6"
                                        >v6</label
                                    >
                                </div>
                            </div>
                        </form>

                        <h5 class="my-3 text-center">Select Router</h5>
                        <p id="showing-probes-text" class="text-center">
                            [Showing v6 routers]
                        </p>
                        <div
                            class="table-responsive border rounded"
                            style="height: inherit"
                        >
                            <table class="table table-bordered">
                                <thead class="table-info">
                                    <tr>
                                        <th>Model</th>
                                        <th>Hostname</th>
                                        <th>ASN</th>
                                        <th>IP</th>
                                        <th>Data Center</th>
                                    </tr>
                                </thead>
                                <tbody id="probes-table">
                                    {% for probe in routers %}
                                    <tr
                                        class="cursor-pointer"
                                        data-version="{{ probe.version }}"
                                        data-id="{{ probe.id }}"
                                    >
                                        <td>{{ probe.type }}</td>
                                        <td>{{ probe.name }}</td>
                                        <td>{{ probe.asn }}</td>
                                        <td>{{ probe.ip }}</td>
                                        <td>
                                            {% if probe.city or probe.state or probe.country %}
                                                {{ probe.city }}{% if probe.city and probe.state %}, {% endif %}
                                                {{ probe.state }}{% if probe.state and probe.country %}, {% endif %}
                                                {{ probe.country }}
                                            {% else %}
                                                <!-- Empty string if all are None -->
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr
                                        id="not-found-row"
                                        style="display: none"
                                    >
                                        <td colspan="8" class="text-center">
                                            No routers found for the selected
                                            version.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 mb-4" style="height: 640px;">
                        <div class="mb-2">
                            <button
                                class="btn btn-success"
                                id="performQueryBtn"
                            >
                                Perform Query
                            </button>
                        </div>
                        <p id="query-complete-time">
                            Results will appear here.
                        </p>
                        <p class="mb-1" id="live-time"></p>
                        <div id="terminal" class="text-success"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function () {
                // Function to filter probes based on the selected version
                $(".version-filter").change(function () {
                    var selectedVersion = $(
                        "input[name='version']:checked"
                    ).val();
                    var hasVisibleRows = false;

                    // Update the dynamic text based on the selected version
                    if (selectedVersion === "v4") {
                        $("#showing-probes-text").text("[Showing v4 routers]");
                    } else if (selectedVersion === "v6") {
                        $("#showing-probes-text").text("[Showing v6 routers]");
                    } else {
                        $("#showing-probes-text").text("[Showing all routers]");
                    }

                    // Show or hide rows based on the selected version
                    $("#probes-table tr").each(function () {
                        var rowVersion = $(this).data("version");
                        if (
                            selectedVersion === "all" ||
                            rowVersion === selectedVersion
                        ) {
                            $(this).show();
                            hasVisibleRows = true;
                        } else {
                            $(this).hide();
                        }
                    });

                    // Show "Not Found" row if no rows match the filter
                    if (!hasVisibleRows) {
                        $("#not-found-row").show();
                    } else {
                        $("#not-found-row").hide();
                    }
                });

                $(".btn-check").change(function () {
                    var selectedOption = $(
                        "input[name='options-outlined']:checked"
                    ).val();
                    if (selectedOption === "custom") {
                        $("#targetInput").attr(
                            "placeholder",
                            "Enter Custom Command"
                        );
                    } else {
                        $("#targetInput").attr("placeholder", "Select Target");
                    }
                });

                // Initialize by showing only v4 probes and setting the default text
                $("input[name='version'][value='v4']").prop("checked", true); // Set v4 radio as checked
                $("#showing-probes-text").text("[Showing v4 routers]");
                var hasVisibleRows = false;
                $("#probes-table tr").each(function () {
                    var rowVersion = $(this).data("version");
                    if (rowVersion === "v4") {
                        $(this).show();
                        hasVisibleRows = true;
                    } else {
                        $(this).hide();
                    }
                });
                if (!hasVisibleRows) {
                    $("#not-found-row").show();
                } else {
                    $("#not-found-row").hide();
                }
            });

            $(document).ready(function () {
                // Disable the Perform Query button by default
                $("#performQueryBtn").prop("disabled", true);

                // Handle row selection
                $("#probes-table").on("click", "tr", function () {
                    // Toggle 'selected' class on the clicked row
                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected");
                        $("#performQueryBtn").prop("disabled", true); // Disable button if no row is selected
                    } else {
                        $("#probes-table tr").removeClass("selected");
                        $(this).addClass("selected");
                        $("#performQueryBtn").prop("disabled", false); // Enable button if a row is selected
                    }
                });

                $("#performQueryBtn").on("click", function (e) {
                    e.preventDefault();

                    var selectedRow = $("#probes-table tr.selected");
                    var probeId = selectedRow.data("id");
                    var selectedVersion = $(
                        "input[name='version']:checked"
                    ).val();
                    var selectedOption = $(
                        "input[name='options-outlined']:checked"
                    ).val();
                    var targetInput = $("#targetInput").val();

                    if (probeId && targetInput && selectedOption) {
                        $("#terminal").html("Loading...");
                        $("#query-complete-time").html(
                            "Results will appear here."
                        );
                        var $button = $("#performQueryBtn");
                        var $liveTime = $("#live-time"); // Ensure you have an element to show live time
                        var startTime = Date.now();
                        var interval;

                        $button
                            .prop("disabled", true)
                            .html(
                                '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...'
                            );

                        
                        $liveTime.html('Executing query... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');


                        $.ajax({
                            url: "{% url 'network_tools_api' %}",
                            data: {
                                router_id: probeId,
                                version: selectedVersion,
                                domain: targetInput,
                                action: selectedOption,
                                // command should be input from input field with id "targetInput"
                                command:
                                    selectedOption === "custom"
                                        ? targetInput
                                        : "",
                            },
                            success: function (response) {
                                var endTime = Date.now();
                                var totalElapsedTime = (
                                    (endTime - startTime) /
                                    1000
                                ).toFixed(2);

                                $("#live-time").text(""); // Clear the live time
                                $("#query-complete-time").html(
                                    `<div class="command text-info">Query completed in ${totalElapsedTime} seconds.</div>`
                                );
                                $("#terminal").empty();
                                $("#terminal").append(
                                    `<div class="command">${response.resolved}</div>`
                                );
                                $("#terminal").append(
                                    `<div class="command">${response.timestamp}</div>`
                                );
                                $("#terminal").append(
                                    `<div class="command mb-3">${response.measurement}</div>`
                                );
                                if (Array.isArray(response.data)) {
                                    response.data.forEach((line, index) => {
                                        if (line.trim()) {
                                            $("#terminal").append(
                                                `<div class="command">${line}</div>`
                                            );
                                        } else {
                                            $("#terminal").append(
                                                `<div class="command">***</div>`
                                            );
                                        }
                                    });
                                } else {
                                    $("#terminal").append(
                                        `<div class="command text-danger">Query failed: Try another query.</div>`
                                    );
                                }
                            },
                            error: function (error) {
                                $("#terminal").empty();
                                $("#terminal").append(
                                    `<div class="command text-danger">Query failed: ${error.responseJSON?.message}</div>`
                                );
                            },
                            complete: function () {
                                clearInterval(interval); // Stop live time updates
                                $liveTime.text(""); // Clear live time text
                                $button
                                    .prop("disabled", false)
                                    .html("Perform Query");
                            },
                        });
                    } else {
                        alert(
                            "Please select a row and enter a target before performing a query."
                        );
                    }
                });
            });
        </script>
    </body>
</html>
